# Pandas

- Pandas provides high-level data structures and functions designed to make working with structured or tabular data fast and easy.

- Pandas is a package built on top of NumPy and provides an efficient implementation of a DataFrame.

- Primary objects in pandas that will be used in this book are the DataFrame,a tabular, column-oriented data structure with both row and column labels, and the Series, a one-dimensional labeled array object.

- Data frames are essentially multidimensional arrays with attached row and column labels, that contain heterogeneous types and/or missing data.

- Pandas data frames have sophisticated indexing functionality to make it easy to reshape, slice and dice, perform aggregations, and select subsets of data.

- Pandas implements several powerful data
operations familiar to users of both database frameworks and spreadsheet programs.

- Pandas is a tool for data processing that helps in data analysis.

- Pandas provides functions and methods to efficiently manipulate large datasets.

In [1]:
import numpy as np
import pandas as pd
import math

# Series

A pandas Series is a one-dimensional array of indexed data. It can be created from a list or array. For example,

In [2]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [3]:
arr = np.arange(5)
arr[1]

1

In [4]:
[0.25, 1.5, 3, 7.5, 11, 9, math.pi, 2**0.5, math.e, np.log10(100)]

[0.25,
 1.5,
 3,
 7.5,
 11,
 9,
 3.141592653589793,
 1.4142135623730951,
 2.718281828459045,
 2.0]

In [5]:
series = pd.Series([0.25, 1.5, 3, 7.5, 11, 9, math.pi, 2**0.5, math.e, np.log10(100)])
series

0     0.250000
1     1.500000
2     3.000000
3     7.500000
4    11.000000
5     9.000000
6     3.141593
7     1.414214
8     2.718282
9     2.000000
dtype: float64

In [6]:
len(series)

10

As we see in the preceding output, the Series wraps both a sequence of values and a sequence of indices, which we can access with the values and index attributes.

The values are simply a familiar NumPy array.

In [7]:
series.values

array([ 0.25      ,  1.5       ,  3.        ,  7.5       , 11.        ,
        9.        ,  3.14159265,  1.41421356,  2.71828183,  2.        ])

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation.

In [8]:
series[1]

1.5

In [9]:
series[1:4]

1    1.5
2    3.0
3    7.5
dtype: float64

- NumPy array has an implicitly defined integer index used to access the values. 

- The Pandas Series has an explicitly defined index associated with the values.

In [10]:
pd.Series([1.5, 6, 9, 10, 5])

0     1.5
1     6.0
2     9.0
3    10.0
4     5.0
dtype: float64

In [11]:
data = pd.Series([1.5, 6, 9, 10, 5], index = ['a', 'b', 'c', 'd', 'e'])
data

a     1.5
b     6.0
c     9.0
d    10.0
e     5.0
dtype: float64

This explicit index definition gives the Series object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type.

In [12]:
data['a']

1.5

In [13]:
data['e']

5.0

- A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure that
maps typed keys to a set of typed values.

- This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas Series makes it much more efficient than Python dictionaries for certain operations.

In [14]:
population_dictionary = {'California' : 38332521,
                         'Texas' : 26448193,
                         'New York' : 19651127,
                         'Florida' : 19552860,
                         'Illinois' : 128821135}
population_dictionary

{'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 128821135}

In [15]:
population = pd.Series(population_dictionary)
population

California     38332521
Texas          26448193
New York       19651127
Florida        19552860
Illinois      128821135
dtype: int64

In [16]:
population['New York']

19651127

In [17]:
population['California':'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

**Question1.** Create a Series of the first 100 integers.

In [18]:
np.arange(1,101)

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [19]:
pd.Series(np.arange(1,101))

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Length: 100, dtype: int64

**Question 2.** Create a series from a dictionary using the following data. 

|City Name|Airport Abbreviation|
|---------|--------------------|
|Dubai    |DBX|
|Abu Dhabi|AUH|
|Sharjah|SHJ|

Make the city the key and the airport abbreviation the value.

In [21]:
pd.Series({'Dubai':'DBX', 'Abu Dhabi':'AUH', 'Sharjah':'SHJ'})

Dubai        DBX
Abu Dhabi    AUH
Sharjah      SHJ
dtype: object

**Question 3.** Create a series using the following data.

|State Name|Capital|
|---------|--------------------|
|California|Los Angeles|
|Texas|Dallas|
|North Carolina|Raleigh|

Make the state name the index.

In [28]:
pd.Series({'California':'Los Angeles', 
           'Texas':'Dallas', 
           'North Carolina': 'Raleigh'}
)

California        Los Angeles
Texas                  Dallas
North Carolina        Raleigh
dtype: object

In [26]:
a = ['1', '2', '3']
b = [[10, 20, 30], [40, 50, 60], [70, 80, 90]]

d = dict(zip(a,b))
pd.Series(d)

1    [10, 20, 30]
2    [40, 50, 60]
3    [70, 80, 90]
dtype: object

# Data Frame

The next fundamental structure in Pandas is the DataFrame. Like the Series object discussed in the previous section, the DataFrame can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.

- If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame is an analog of a twodimensional array with both flexible row indices and flexible column names.

- Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a DataFrame as a sequence of aligned Series objects. 
  
  **Note:** Here, by “aligned” we mean that they share the same index.

In [29]:
area_dictionary = {'California' : 432967,
                   'Texas' : 695662,
                   'New York' : 141297,
                   'Florida' : 170312,
                   'Illinois' : 149995}
area_dictionary

{'California': 432967,
 'Texas': 695662,
 'New York': 141297,
 'Florida': 170312,
 'Illinois': 149995}

In [30]:
area = pd.Series(area_dictionary)
area

California    432967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Now that we have this along with the population Series from before, we can use a dictionary to construct a single two-dimensional object containing this information.

In [31]:
states = pd.DataFrame({'population' : population,
                       'area': area})

states

            population    area
California    38332521  432967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois     128821135  149995

In [32]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [33]:
states.columns

Index(['population', 'area'], dtype='object')

In [34]:
states.shape

(5, 2)

In [35]:
states.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, California to Illinois
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   population  5 non-null      int64
 1   area        5 non-null      int64
dtypes: int64(2)
memory usage: 292.0+ bytes

In [37]:
states.describe()

         population           area
count  5.000000e+00       5.000000
mean   4.656117e+07  318046.600000
std    4.661691e+07  243468.356287
min    1.955286e+07  141297.000000
25%    1.965113e+07  149995.000000
50%    2.644819e+07  170312.000000
75%    3.833252e+07  432967.000000
max    1.288211e+08  695662.000000

- Similarly, we can also think of a DataFrame as a specialization of a dictionary. 

- Where a dictionary maps a key to a value, a DataFrame maps a column name to a Series of column data.

- For example, asking for the 'area' attribute returns the Series object containing the areas we saw earlier:

In [38]:
states['area']

California    432967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [39]:
np.max(states['area'])

695662

In [40]:
np.average(states['area'])

318046.6

A Pandas Data Frame can be constructed in a variety of ways.

In [41]:
pd.DataFrame(population, columns = ['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois     128821135

In [42]:
data = [{'a' : i, 'b' : 2*i} for i in np.arange(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [43]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [44]:
pd.DataFrame([{'a' : 1, 'b': 2}, {'b' : 3, 'c' : 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

- Given a two-dimensional array of data, we can create a Data Frame with any specified column and index names.

- If omitted, an integer index will be used for each:

In [45]:
np.random.rand(3,2)

array([[0.00524574, 0.89205796],
       [0.84339672, 0.52019769],
       [0.94859417, 0.39603861]])

In [46]:
pd.DataFrame(np.random.rand(3,2),
             columns = ['foo', 'bar'])

        foo       bar
0  0.564930  0.205308
1  0.363282  0.525498
2  0.940400  0.944367

In [47]:
pd.DataFrame(np.random.rand(3,2),
             columns = ['foo', 'bar'],
             index = ['a', 'b', 'c'])

        foo       bar
a  0.908368  0.829607
b  0.144761  0.876080
c  0.057087  0.861137

**Question 4.** Create a data frame using the following data.

|name|age|height|
|----|---|------|
|jean|15|150|
|jake|17|161|
|joe|13|135|

In [57]:
data = pd.DataFrame([{'name' : 'jean', 'age': 15, 'height':150}, 
              {'name' : 'jake', 'age':17 , 'height':161}, 
              {'name' : 'joe', 'age': 13, 'height':135}])

**Question 5.** Create the same data frame as you did in **Question 4** but make the name the index and add a column named `hair_color`.

||age|height|hair_color|
|----|---|------|------|
|**jean**|15|150|brown|
|**jake**|17|161|black|
|**joe**|13|135|brown|

In [55]:
pd.DataFrame([
    (15, 150, 'brown'),
    (17, 161, 'black'),
    (13, 135, 'brown')],
    index = ['jean', 'jake', 'joe'],
    columns = ['age', 'height', 'hair_color']
)

      age  height hair_color
jean   15     150      brown
jake   17     161      black
joe    13     135      brown

In [58]:
pd.DataFrame(data,
             columns = ['age', 'height'],
             index = ['name'])

      age  height
name  NaN     NaN

In [62]:
data.set_index('name')

      age  height
name
jean   15     150
jake   17     161
joe    13     135

# Manipulating Data Frames

In [63]:
url = 'https://raw.githubusercontent.com/mahmoudharding/exceed/main/data/2022_population.csv'
world = pd.read_csv(url)
world

,iso_code,country,2022_last_updated,2020_population,area_sq_km,density_sq_km,growth_rate,world_%,rank
0,CHN,China,"1,425,860,478","1,424,929,781","9,706,961",147/sq_km,0.00%,17.88%,1
1,IND,India,"1,420,588,493","1,396,387,127","3,287,590",431/sq_km,0.68%,17.77%,2
2,USA,United States,"338,846,055","335,942,003","9,372,610",36/sq_km,0.38%,4.24%,3
3,IDN,Indonesia,"276,124,105","271,857,970","1,904,569",145/sq_km,0.64%,3.45%,4
4,PAK,Pakistan,"237,444,363","227,196,741","881,912",267/sq_km,1.91%,2.96%,5
...,...,...,...,...,...,...,...,...,...
211,MSR,Montserrat,"4,390","4,500",102,43/sq_km,-0.61%,0.00%,230
212,FLK,Falkland Islands,"3,780","3,747","12,173",0/sq_km,0.43%,0.00%,231
213,NIU,Niue,"1,934","1,942",260,7/sq_km,-0.15%,0.00%,232
214,TKL,Tokelau,"1,871","1,827",12,156/sq_km,1.19%,0.00%,233
215,VAT,Vatican City,510,520,1,510/sq_km,-0.20%,0.00%,234

In [64]:
world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   iso_code           216 non-null    object
 1   country            216 non-null    object
 2   2022_last_updated  216 non-null    object
 3   2020_population    216 non-null    object
 4   area_sq_km         216 non-null    object
 5   density_sq_km      216 non-null    object
 6   growth_rate        216 non-null    object
 7   world_%            216 non-null    object
 8   rank               216 non-null    int64
dtypes: int64(1), object(8)
memory usage: 15.3+ KB

In [65]:
world.shape

(216, 9)

In [66]:
world['2022_last_updated']

0      1,425,860,478
1      1,420,588,493
2        338,846,055
3        276,124,105
4        237,444,363
           ...
211            4,390
212            3,780
213            1,934
214            1,871
215              510
Name: 2022_last_updated, Length: 216, dtype: object

In [67]:
np.max(world['2022_last_updated'])

'99,208'

In [68]:
np.min(world['2022_last_updated'])

'1,126,246'

In [69]:
'99,208'

'99,208'

In [71]:
int('99208')

99208

In [73]:
pop = '99,208'
pop

'99,208'

In [74]:
type(pop)

str

In [75]:
pop.replace(',', '')

'99208'

In [76]:
int(pop.replace(',', ''))

99208

In [80]:
# This is a series object
int(world['2022_last_updated'][0].replace(',', ''))

1425860478

In [82]:
world['2022_last_updated'].str.replace(',', '')

0      1425860478
1      1420588493
2       338846055
3       276124105
4       237444363
          ...
211          4390
212          3780
213          1934
214          1871
215           510
Name: 2022_last_updated, Length: 216, dtype: object

In [83]:
world['2022_pop_int'] = world['2022_last_updated'].str.replace(',', '')
world

,iso_code,country,2022_last_updated,2020_population,area_sq_km,density_sq_km,growth_rate,world_%,rank,2022_pop_int
0,CHN,China,"1,425,860,478","1,424,929,781","9,706,961",147/sq_km,0.00%,17.88%,1,1425860478
1,IND,India,"1,420,588,493","1,396,387,127","3,287,590",431/sq_km,0.68%,17.77%,2,1420588493
2,USA,United States,"338,846,055","335,942,003","9,372,610",36/sq_km,0.38%,4.24%,3,338846055
3,IDN,Indonesia,"276,124,105","271,857,970","1,904,569",145/sq_km,0.64%,3.45%,4,276124105
4,PAK,Pakistan,"237,444,363","227,196,741","881,912",267/sq_km,1.91%,2.96%,5,237444363
...,...,...,...,...,...,...,...,...,...,...
211,MSR,Montserrat,"4,390","4,500",102,43/sq_km,-0.61%,0.00%,230,4390
212,FLK,Falkland Islands,"3,780","3,747","12,173",0/sq_km,0.43%,0.00%,231,3780
213,NIU,Niue,"1,934","1,942",260,7/sq_km,-0.15%,0.00%,232,1934
214,TKL,Tokelau,"1,871","1,827",12,156/sq_km,1.19%,0.00%,233,1871
215,VAT,Vatican City,510,520,1,510/sq_km,-0.20%,0.00%,234,510

In [84]:
world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   iso_code           216 non-null    object
 1   country            216 non-null    object
 2   2022_last_updated  216 non-null    object
 3   2020_population    216 non-null    object
 4   area_sq_km         216 non-null    object
 5   density_sq_km      216 non-null    object
 6   growth_rate        216 non-null    object
 7   world_%            216 non-null    object
 8   rank               216 non-null    int64
 9   2022_pop_int       216 non-null    object
dtypes: int64(1), object(9)
memory usage: 17.0+ KB

In [88]:
world['2022_pop_int'] = world['2022_pop_int'].astype('int')

In [89]:
world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   iso_code           216 non-null    object
 1   country            216 non-null    object
 2   2022_last_updated  216 non-null    object
 3   2020_population    216 non-null    object
 4   area_sq_km         216 non-null    object
 5   density_sq_km      216 non-null    object
 6   growth_rate        216 non-null    object
 7   world_%            216 non-null    object
 8   rank               216 non-null    int64
 9   2022_pop_int       216 non-null    int64
dtypes: int64(2), object(8)
memory usage: 17.0+ KB

In [90]:
np.max(world['2022_pop_int'])

1425860478

In [93]:
world_sort = world.sort_values('country')
world_sort

,iso_code,country,2022_last_updated,2020_population,area_sq_km,density_sq_km,growth_rate,world_%,rank,2022_pop_int
34,AFG,Afghanistan,"41,514,691","38,972,230","652,230",63/sq_km,2.57%,0.52%,36,41514691
134,ALB,Albania,"2,838,466","2,866,849","28,748",99/sq_km,-0.43%,0.04%,138,2838466
32,DZA,Algeria,"45,156,393","43,451,666","2,381,741",19/sq_km,1.64%,0.56%,34,45156393
197,ASM,American Samoa,"44,144","46,189",199,222/sq_km,-1.69%,0.00%,213,44144
190,AND,Andorra,"80,081","77,700",468,171/sq_km,1.00%,0.00%,203,80081
...,...,...,...,...,...,...,...,...,...,...
14,VNM,Vietnam,"98,429,357","96,648,685","331,212",296/sq_km,0.74%,1.23%,16,98429357
166,ESH,Western Sahara,"579,970","556,048","266,000",2/sq_km,1.84%,0.01%,172,579970
44,YEM,Yemen,"33,960,062","32,284,046","527,968",64/sq_km,2.17%,0.42%,46,33960062
61,ZMB,Zambia,"20,209,029","18,927,715","752,612",27/sq_km,2.80%,0.25%,63,20209029
72,ZWE,Zimbabwe,"16,438,511","15,669,666","390,757",42/sq_km,2.04%,0.20%,74,16438511

In [97]:
world_name_index = world.set_index('country')
world_name_index

,iso_code,2022_last_updated,2020_population,area_sq_km,density_sq_km,growth_rate,world_%,rank,2022_pop_int
country,,,,,,,,,
China,CHN,"1,425,860,478","1,424,929,781","9,706,961",147/sq_km,0.00%,17.88%,1,1425860478
India,IND,"1,420,588,493","1,396,387,127","3,287,590",431/sq_km,0.68%,17.77%,2,1420588493
United States,USA,"338,846,055","335,942,003","9,372,610",36/sq_km,0.38%,4.24%,3,338846055
Indonesia,IDN,"276,124,105","271,857,970","1,904,569",145/sq_km,0.64%,3.45%,4,276124105
Pakistan,PAK,"237,444,363","227,196,741","881,912",267/sq_km,1.91%,2.96%,5,237444363
...,...,...,...,...,...,...,...,...,...
Montserrat,MSR,"4,390","4,500",102,43/sq_km,-0.61%,0.00%,230,4390
Falkland Islands,FLK,"3,780","3,747","12,173",0/sq_km,0.43%,0.00%,231,3780
Niue,NIU,"1,934","1,942",260,7/sq_km,-0.15%,0.00%,232,1934
Tokelau,TKL,"1,871","1,827",12,156/sq_km,1.19%,0.00%,233,1871
Vatican City,VAT,510,520,1,510/sq_km,-0.20%,0.00%,234,510

In [107]:
print(world_name_index.index.to_list())

['China', 'India', 'United States', 'Indonesia', 'Pakistan', 'Nigeria', 'Brazil', 'Bangladesh', 'Russia', 'Mexico', 'Japan', 'Ethiopia', 'Philippines', 'Egypt', 'Vietnam', 'Iran', 'Turkey', 'Germany', 'Thailand', 'United Kingdom', 'Tanzania', 'France', 'South Africa', 'Italy', 'Myanmar', 'Kenya', 'Colombia', 'South Korea', 'Spain', 'Uganda', 'Sudan', 'Argentina', 'Algeria', 'Iraq', 'Afghanistan', 'Poland', 'Ukraine', 'Canada', 'Morocco', 'Saudi Arabia', 'Angola', 'Uzbekistan', 'Peru', 'Malaysia', 'Yemen', 'Ghana', 'Mozambique', 'Nepal', 'Madagascar', 'Venezuela', 'Ivory Coast', 'Cameroon', 'Niger', 'Australia', 'North Korea', 'Taiwan', 'Burkina Faso', 'Mali', 'Syria', 'Sri Lanka', 'Malawi', 'Zambia', 'Romania', 'Chile', 'Kazakhstan', 'Ecuador', 'Guatemala', 'Chad', 'Somalia', 'Netherlands', 'Senegal', 'Cambodia', 'Zimbabwe', 'Guinea', 'Rwanda', 'Benin', 'Burundi', 'Tunisia', 'Bolivia', 'Belgium', 'Haiti', 'Jordan', 'Dominican Republic', 'Cuba', 'South Sudan', 'Sweden', 'Czech Republic', 'Honduras', 'Greece', 'Azerbaijan', 'Portugal', 'Papua New Guinea', 'Hungary', 'Tajikistan', 'Belarus', 'United Arab Emirates', 'Israel', 'Austria', 'Togo', 'Switzerland', 'Sierra Leone', 'Laos', 'Hong Kong', 'Serbia', 'Nicaragua', 'Libya', 'Bulgaria', 'Paraguay', 'Kyrgyzstan', 'Turkmenistan', 'El Salvador', 'Singapore', 'Denmark', 'Slovakia', 'Central African Republic', 'Finland', 'Lebanon', 'Norway', 'Liberia', 'Palestine', 'New Zealand', 'Costa Rica', 'Ireland', 'Mauritania', 'Oman', 'Panama', 'Kuwait', 'Croatia', 'Georgia', 'Eritrea', 'Uruguay', 'Mongolia', 'Moldova', 'Puerto Rico', 'Albania', 'Jamaica', 'Armenia', 'Lithuania', 'Gambia', 'Qatar', 'Botswana', 'Namibia', 'Gabon', 'Lesotho', 'Slovenia', 'Guinea Bissau', 'North Macedonia', 'Latvia', 'Equatorial Guinea', 'Bahrain', 'Timor Leste', 'Estonia', 'Mauritius', 'Cyprus', 'Djibouti', 'Reunion', 'Fiji', 'Comoros', 'Guyana', 'Bhutan', 'Solomon Islands', 'Macau', 'Luxembourg', 'Montenegro', 'Suriname', 'Cape Verde', 'Western Sahara', 'Malta', 'Maldives', 'Brunei', 'Bahamas', 'Belize', 'Iceland', 'Martinique', 'Vanuatu', 'Mayotte', 'French Polynesia', 'New Caledonia', 'Barbados', 'Samoa', 'Curacao', 'Saint Lucia', 'Guam', 'Kiribati', 'Grenada', 'Micronesia', 'Seychelles', 'Tonga', 'Aruba', 'United States Virgin Islands', 'Andorra', 'Dominica', 'Cayman Islands', 'Bermuda', 'Greenland', 'Faroe Islands', 'Northern Mariana Islands', 'American Samoa', 'Sint Maarten', 'Marshall Islands', 'Liechtenstein', 'Monaco', 'San Marino', 'Gibraltar', 'Saint Martin', 'Palau', 'Cook Islands', 'Anguilla', 'Nauru', 'Tuvalu', 'Saint Barthelemy', 'Montserrat', 'Falkland Islands', 'Niue', 'Tokelau', 'Vatican City']

In [112]:
world_name_index.loc['China':'Brazil']

,iso_code,2022_last_updated,2020_population,area_sq_km,density_sq_km,growth_rate,world_%,rank,2022_pop_int
country,,,,,,,,,
China,CHN,"1,425,860,478","1,424,929,781","9,706,961",147/sq_km,0.00%,17.88%,1,1425860478
India,IND,"1,420,588,493","1,396,387,127","3,287,590",431/sq_km,0.68%,17.77%,2,1420588493
United States,USA,"338,846,055","335,942,003","9,372,610",36/sq_km,0.38%,4.24%,3,338846055
Indonesia,IDN,"276,124,105","271,857,970","1,904,569",145/sq_km,0.64%,3.45%,4,276124105
Pakistan,PAK,"237,444,363","227,196,741","881,912",267/sq_km,1.91%,2.96%,5,237444363
Nigeria,NGA,"220,379,825","208,327,405","923,768",237/sq_km,2.41%,2.74%,6,220379825
Brazil,BRA,"215,657,523","213,196,304","8,515,767",25/sq_km,0.46%,2.70%,7,215657523